$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #3d414e;
$color__link-visited: purple;
$color__link-hover: #e11e30;
$color__text-main: #3d414e;
$color__text: #777777;
$color__main: #e11e30;
$color__white: #fff;
$color__black: #000;
$color__gray: #555555;
$color__title: #2c2e3b;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #e4e4e4;
$color__border-section: #f8f8f8;

$color__number-li: #aaaaaa;
$color__border-info-box: #e2e2e2;
$color__twitter-name: #666666;
$color__tag-text: #777780;
$color__email-background: #fcfcfc;
$color__textarea-placeholder: #bdbec0;
$color__sidebar: #f3f5f8;
$color__twitter-bg-hover: #55acee;
